$PLAYKIDS_COLOR: #65249a;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  font-size: 14px;
  color: white;
  background: radial-gradient(
    75vw at center 25%,
    $PLAYKIDS_COLOR,
    lighten($color: $PLAYKIDS_COLOR, $amount: 15)
  );
}